
#-facebook-status-status .view {
  clear: both;
  float: right;
}

#-facebook-status-status #facebook_status_chars, #-facebook-status-status #edit-fbss-submit {
  float: none;
}

#-facebook-status-status #edit-twitter-wrapper {
  clear: none;
}